/* IE FIXES LETS GET HACKY */

.header-container {
    width:980px;
    height: 100px;
}

#main {
    min-height: 541px;
}

.newsticker {
    height:25px;
}

    .home-ticker {
        float:left;
    }

.home-nav li {
    width:215px;
    float:left;
}


.footer {
    min-height:182px;
}

